<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="'push'" position="end">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let n of navigationItems"
        (click)="drawer.close()"
        [routerLink]="[n.link]"
        routerLinkActive="active"
      >
        {{ n.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="header" color="primary">
      <mat-toolbar-row fxLayout="row">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="80" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              Georg Ludewig
            </div>
            <div>
              <a
                mat-button
                fxShow="false"
                fxShow.gt-xs="true"
                *ngFor="let n of navigationItems"
                [routerLink]="[n.link]"
                routerLinkActive="active"
              >
                {{ n.label }}
              </a>
            </div>
          </div>
        </div>
        <button mat-icon-button fxShow="true" fxShow.gt-xs="false">
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="main">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="80">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>

    <mat-toolbar class="footer" color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <div fxLayout="column">Location</div>
        <div fxLayout="column">Around the Web</div>
        <div fxLayout="column">Contact</div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
